@model IEnumerable<CRConsultMvc.Models.ApplicationUser>

@{
    ViewBag.Title = "Gestione utenti";
}
<div class="container">

    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col col-md-8">
            <h3><span class="label label-primary"><span class="badge">@ViewBag.UtentiCount</span> Utenti registrati</span></h3>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)


                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cognome)
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>


            @foreach (var item in Model)
        {
        <tr>
            <td>
                <a href="@Url.Action("IndexUsr", "Interventis", new {uid = item.Id})" class="fa fa-cogs fa-2x text-warning" title="Interventi/Tickets"></a>
                <a href="@Url.Action("IndexUsr", "Gettonis", new {uid = item.Id})" class="fa fa-ticket fa-2x text-danger" title="Gettoni"></a>
            </td>
            <td>
                @if (File.Exists(@Server.MapPath("/Content/Images/FotoIscritti/" + @Html.DisplayFor(modelItem => item.Id) + ".jpg")))
                {
                    <img class="img-usr" src="@Url.Content("~/Content/Images/FotoIscritti/" + @Html.DisplayFor(modelItem => item.Id) + ".jpg")" />
                }
                    else
                    {
                    <img class="img-usr" src="@Url.Content("~/Content/Images/FotoIscritti/Anonimous.jpg")" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)


            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-pencil-square-o fa-2x" })
            </td>
        </tr>
        }
        </tbody>

    </table>
</div>
