<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - C.R.Consult</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 </head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Networking", "Networking", "Home")</li>
                    <li>@Html.ActionLink("Webb App", "WebPage", "Home")</li>
                    <li>@Html.ActionLink("Assistenza", "Assistenza", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a href="@Url.Action("Index", "RolesAdmin")" ><span class="glyphicon glyphicon-tag text-success"></span></a></li>
                        <li><a href="@Url.Action("Index", "UsersAdmin")"><span class="glyphicon glyphicon-user text-success"></span></a></li>
                        <li><a href="@Url.Action("Index", "Interventis")"><span class="fa fa-list text-success"></span></a></li>
                    }


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @*Menu destra fisso*@
    <div class="docu">
        <ul >
            <li>
                <a href="@Url.Action("Stat", "Home")" title="Statistiche accesso">
                    <img src="~/Content/Images/Grafico.png" />
                </a>

            </li>
            <li>
                <a href="http://portal.office.com" target="_blank" title="Office 365">
                    <img src="~/Content/Images/Office365.png" />
                </a>

            </li>
            <li>
                <a href="https://portal.azure.com/" target="_blank" title="Microsoft Azure">
                    <img src="~/Content/Images/azure.png" />
                </a>

            </li>
            <li>
                <a href="https://anydesk.it/download" target="_blank" title="Assistenza remota">
                    <img src="~/Content/Images/anydesk.png" />
                </a>

            </li>
      </ul>
   </div>
    
        <div class="row">
            <a class="navbar-brand" href="/Home/Index1">
                <img class="imgLogo" alt="Logo" src="~/Content/Images/LogoAC.png" />
                <span class="textLogo">Information Technology - Web Developer</span>
            </a>
        </div><hr class="hrtop" />
        @RenderBody()
    <footer>
        <div class="container">
            <div class="row">

                <div class="col col-md-4">
                    <h4><strong><em> C.R.Consult di Rocchetti Cesare</em></strong></h4>
                    <p>
                        Via degli Orti 11/d<br />
                        24043 Caravaggio (BG)<br />
                        Tel. 036353187<br/>
                        Partita Iva: 02669910164</p>

                </div>
                <div class="col col-md-4">
                    <h4><strong><em>Contatti</em></strong></h4>
                    <p>
                        Info commerciali: <a href="mailto:cesare@cr-consult.eu">cesare@cr-consult.eu</a><br />
                        Assistenza tecnica: <a href="mailto:webservice@cr-consult.it">webservice@cr-consult.it</a><br />
                        Sviluppo Web: <a href="mailto:almaallevi@gmail.com">alma.allevi@gmail.com</a><br/>
                        Contabilità: <a href="mailto:contab@pec.cr-consult.it">contab@pec.cr-consult.it</a><br />
                    </p>

                </div>
                <div class="col col-md-4">
                    <h4><strong><em>&copy; @DateTime.Now.Year - References</em></strong></h4>
                    <p>
                        Documento privacy: <a href="~/Views/Home/Privacy.cshtml">Leggi</a><br/>
                        Exchange: <a href="https://crconsultcaravaggio-public.sharepoint.com/">SharePoint</a><br />
                        Cloud: <a href="https://portal.azure.com/">Microsoft Azure</a><br />
                        PEC: <a href="mailto:contab@pec.cr-consult.it">contab@pec.cr-consult.it</a>
                    </p>
                </div>

            </div>

        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
