@model CRConsultMvc.Models.Gettoni

@{
    ViewBag.Title = "Create";
}
<div class="container">

    <h2 class="text-center">Aggiungi gettoni</h2>
    <hr class="hrl" />
    <div class="row">
        <div class="col-md-4">
            <p>L'aggiunta di gettoni <span class="text-danger">non comporta nessun impegno economico</span>, serve solo per comunicare al servizio assistenza che il cliente può aprire i ticket.</p>
            <p>Aggiungendo i gettoni hai la possibilità di aprire un ticket. In ogni caso, se il tuo contratto è scaduto e non hai il rinnovo automatico, verrai contattato da un nostro incaricato per il rinnovo.</p>
            <br/>
        </div>
        <div class="col-md-4">
            <div class="text-center">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="btn-group-lg" id="NGettoni" data-toggle="buttons">


                        <label class="btn btn-lg btn-primary active">
                            @Html.RadioButtonFor(g => g.NGettoni, "10") 10
                        </label>
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(g => g.NGettoni, "25") 25
                        </label>
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(g => g.NGettoni, "50") 50
                        </label>
                        <label class="btn btn-primary">
                            @Html.RadioButtonFor(g => g.NGettoni, "100") 100
                        </label>
                    </div>
                    <h2>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.ValidationMessageFor(model => model.NGettoni, "", new { @class = "text-danger" })
                        <input type="submit" id="btn1" class="btn btn-success" />
                        @Html.ActionLink("Annulla", "IndexUt", "Interventis", null, new { @class = "btn btn-danger" })


                    </h2>

                }
            </div>

        </div>
        <div class="col-md-4">

        </div>
    </div>

</div>
@section Scripts{
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script>
    </script>
    }