@model CRConsultMvc.Models.EmailEsperto

@{
    ViewBag.Title = "FormEsperto";
}
<div class="container text-center">
        <div role="dialog" >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" >Contatta un esperto</h3>
                    </div>
                    <div class="modal-body">
                            Compilando questa form verrai messo in contatto con un esperto.<br />
                            Lascia i tuoi dati (mail, cellulare) e verrai richiamato da un nostro incaricato.<br />
                            La richiesta di contatto <span class="text-danger "><strong>non comporta nessun impegno economico</strong></span>. I dati inseriti verranno trattati secondo la <a target="_blank" href="@Url.Action("Privacy", "Home")">Privacy Policy</a>
                        </div>

                        @using (Html.BeginForm("FormEsperto", "Home", null, FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="modal-body">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control center-block", placeholder = "Nome Cognome", required = "required" })
                                        @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.Ditta, new { @class = "form-control center-block", placeholder = "Intestazion ditta (facoltativo)"})
                                        @Html.ValidationMessageFor(m => m.Ditta, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control center-block", placeholder = "Telefono / cellulare", required = "required" })
                                        @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control center-block", placeholder = "La tua mail", required = "required" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(m => m.Richiesta, new { @class = "form-control center-block", placeholder = "Scrivi qui il tuo messaggio", required = "required" })
                                        @Html.ValidationMessageFor(m => m.Richiesta, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.CheckBoxFor(m => m.Privacy, new { @class = "chekbox", required = "required" }) 
                                        @Html.ValidationMessageFor(m => m.Privacy, "", new { @class = "text-danger" })
                                        Accetta documento privacy
                                        <br/><a href="/Home/Privacy" target="_blank">Leggi il documento</a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="g-recaptcha" data-sitekey="6Lfl-0MUAAAAAMsYisTLnizioT9DoJpTGtSZ8lSx">
                                </div>
                                @ViewBag.Message
                                <input type="submit" class="btn btn-success" value="Invia" />
                            </div>
                        }
                </div>
            </div>
        </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">
        // estensione per validare checkbox con valore true
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function(value, element, param) {
            if(element.type === 'checkbox') {
                // se è chekced restituisco true
                return element.checked;
            } else {
                // altrimenti il default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>
}
