@model IEnumerable<CRConsultMvc.Models.Interventi>
@{
    ViewBag.Title = "Index";
}
<div class="container">

    @foreach (var item in Model.GroupBy(u => u.Nome.Nome).
        Select(u => new { utente = u.Key
        , data = u.OrderByDescending(i => i.DataChiamata)
        , chiusi = u.Where(i=>i.Chiuso == true).Count()
        , aperti = u.Where(i=>i.Chiuso == false).Count()
        , totale = u.Count()
        }))
    {
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <div class="well well-sm">
                    <span>Ticket  </span><strong>@item.totale</strong>
                    <span class="fa fa-unlock text-success">@item.aperti  </span>
                    <span class="fa fa-lock text-danger">@item.chiusi</span>
                    <div>Gettoni <strong>@ViewBag.GettoniCount</strong></div>
                </div>

            </div>
            <div col-md-2 col-xs-12>
                <h2 >Interventi di @item.utente</h2>

            </div>
        </div>
        <hr class="hrl" />

        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        Data chiamata
                    </td>
                    <td>
                        Data intervento
                    </td>
                    <td>
                        Chiuso
                    </td>
                    <td> Gettoni usati</td>
                </tr>

            </thead>
            <tbody>

                @foreach (var item1 in item.data)
                {
                    var trint = "";
                    if (item1.Chiuso == true)
                    {
                        trint = "alert-danger";
                    }
                    else
                    {
                        trint = "alert-success";
                    }
                    <tr class="@trint">
                        <td>
                            @item1.DataChiamata.ToString("ddd dd-MMM-yyyy")

                        </td>
                        <td>
                            @item1.DataIntervento
                        </td>
                        <td>
                            @item1.Chiuso
                        </td>
                        <td>
                            @item1.NGettoni
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
