@model IEnumerable<CRConsultMvc.Models.Interventi>
@{
    ViewBag.Title = "Index";
}
<div class="container">

    <h2 class="text-center">Interventi / Tickets</h2><hr class="hrl" />
    @foreach (var item in Model.GroupBy(i => i.Chiuso).OrderBy(i=>i.Key))
    {
        var trint = "";
        var close = "";
        if (item.Key == true)
        {
            trint = "alert-danger";
            close = "fa fa-lock fa-2x text-danger";
        }
        else
        {
            trint = "alert-success";
            close = "fa fa-unlock-alt fa-2x text-success";
        }
        <table class="table table-hover tablef">
            <thead>
                <tr>
                    <th></th>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataChiamata)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataIntervento)
                    </th>
                    <th class="text-right">
                        @Html.DisplayNameFor(model => model.NGettoni)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descrizione)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Chiuso)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item1 in item.OrderByDescending(d=>d.DataChiamata))
                {
                <tr class="@trint">
                    <td><span class="@close"></span>
                    </td>
                    <td>@item1.Nome.UserName</td>
                    <td>
                        @item1.DataChiamata.ToString("dd-MMM-yyyy")
                    </td>
                    <td>
                        @if (item1.DataIntervento != null)
                        {
                            @item1.DataIntervento.Value.ToString("dd-MMM-yyyy")

                        }
                    </td>
                    <td class="text-right">

                        @Html.DisplayFor(modelItem => item1.NGettoni)
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(item1.Intervento))
                        {
                            <a class="fa fa-arrow-circle-down text-crc fa-2x adown" role="button" data-toggle="collapse" href="#@item1.Intervento_Id" aria-expanded="false" aria-controls="@item1.Intervento_Id"></a>
                        }
                        @Html.Raw(item1.Descrizione)
                        <div class="collapse" id="@item1.Intervento_Id">
                            <div class="well">
                                @Html.Raw(item1.Intervento)
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item1.Chiuso)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {

                            @Html.ActionLink(" ", "Edit", new { id = item1.Intervento_Id }, new { @class = "fa fa-pencil fa-2x" })
                            @Html.ActionLink(" ", "Delete", new { id = item1.Intervento_Id }, new { @class = "fa fa-trash fa-2x text-danger " })
                        }
                    </td>
                </tr>

                }

            </tbody>
        </table>
    }



</div>

@section Scripts{
<script src="~/Scripts/jquery.filtertable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tablef').filterTable();
        });
        $('.adown').click(
            function () {
                $(this).toggleClass("fa-arrow-up fa-arrow-circle-down");
                $(this).toggleClass("text-crc text-warning");
            }
        );
   </script>

}
